<h1 class="huge">secondwindsnaps</h1>
<div class="refresh-wrapper"><i ng-click="refresh()" class="fa fa-refresh refresh-button"></i></div>
<div class="container-fluid">
  <div class="row row-spacer" ng-repeat="row in snaps">
    <div class="col-md-{{12/numColumns}} wrap" title='{{snap}}' ng-repeat="snap in row">
      <div ng-switch="snap.media_type">
        <div ng-switch-when="0">
          <img class="snap" ng-src="{{snap.filename}}" />
        </div>
        <div ng-if="snap.mediatext" class="video-wrapper">
          <img class="snap" ng-src="snap/{{snap.media_id}}/overlay.png" />
        </div>
        <div ng-switch-when="1">
          <video controls class="snap" ng-src="{{snap.filename}}"></video>
        </div>
      </div>
      <div>
        {{snap}}
        <div class="pull-right">
          <i class="fa" ng-class="{'fa-times-circle-o': hoverTimes, 'fa-times-circle': !hoverTimes}" 
             ng-mouseenter="hoverTimes = true" ng-mouseleave="hoverTimes = false"
             ng-click="reject($parent.$index, $index)"></i>
          <i class="fa" ng-class="{'fa-check-circle-o': hoverCheck, 'fa-check-circle': !hoverCheck}"
             ng-mouseenter="hoverCheck = true" ng-mouseleave="hoverCheck = false"
             ng-click="accept($parent.$index, $index)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
